  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 >Add/Edit gateway</h3>
  </div>
  <div class="modal-body">
  <form action="#" accept-charset="UTF-8">
    
    <div class="control-group <%= (errors.name) ? 'error' : '' %>">
      <label class="control-label" for="name">Select sms gateway</label>
      <div class="controls">
        <select name="name" id="name">
          <!-- If this is edit form , dont allow to change the gateway -->
          <% if(gateway.id) { %>
            <option value="<%= gateway.name %>" SELECTED><%= gateway.name %></option>
          <!-- We are editing the existing user  -->
          <% } else { %>
            <% _.each(gateways, function(item) { %> 
              <% if(gateway.name === item) { %>
                <option value="<%= item %>" SELECTED><%= item %></option>
              <% } else { %>
                <option value="<%= item %>"><%= item %></option>
              <% } %>
            <% }); %>          
          <% } %>            

        </select>
        <% _.each(errors.name, function(item) { %> 
            <p  class="help-block"><%= item %></p>
        <% }); %>
      </div>
    </div> 

  <div class="control-group <%= (errors.user) ? 'error' : '' %>">
      <label class="control-label" for="user">User name/Mobile</label>
      <div class="controls">
          <input class="focused input-large " type="text" name="user" id="user" value="<%= gateway.user%>">
          <% _.each(errors.user, function(item) { %> 
            <p  class="help-block"><%= item %></p>
          <% }); %>
      </div>
   </div>

  <div class="control-group <%= (errors.code) ? 'error' : '' %>">
      <label class="control-label" for="code">Password</label>
      <div class="controls">
          <input class="focused input-large " type="text" name="code" id="code" value="<%= gateway.code%>">
          <% _.each(errors.code, function(item) { %> 
            <p  class="help-block"><%= item %></p>
          <% }); %>          
      </div>
   </div>            
  </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" data-action="save">Save changes</button>
  </div>
